<!-- configfile can be an absolute path or page relative -->
{{ $configFilePath := ( .Get "configfile" ) }}
{{ if not ( hasPrefix ( .Get "configfile" ) "/" ) }}
{{ $configFilePath = print $.Page.Dir $configFilePath }}
{{ end }}

{{ $contentFilePath := print $.Page.Dir ( .Get "contentfile" ) }}
{{ $galId := .Get "id" | default "gallery" }}

<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/nanogallery2/3.0.5/css/nanogallery2.min.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/nanogallery2/3.0.5/jquery.nanogallery2.core.min.js"></script>
<div id="{{ $galId }}"></div>

<script><!--
$(document).ready(function () {
  $("#{{ $galId }}").nanogallery2({
{{ $configFilePath | readFile | safeJS }}
   items:
{{ $contentFilePath | readFile | safeJS }}
  });
 });
--></script>
