<div id="{{ $galId }}"></div>

<script type="application/json" id="{{ $galId }}-config">
{{ $configFilePath | readFile | safeHTML }}
</script>

<script type="application/json" id="{{ $galId }}-items">
{{ $contentFilePath | readFile | safeHTML }}
</script>

<script>
$(document).ready(function () {
  const config = JSON.parse(document.getElementById("{{ $galId }}-config").textContent);
  const items = JSON.parse(document.getElementById("{{ $galId }}-items").textContent);
  config.items = items;
  $("#{{ $galId }}").nanogallery2(config);
});
</script>
